{% render 'partials/head.liquid' %}

    <!-- buttons -->
    <button class="expandable">
        <span class="button-text">Wijk bij Duurstede</span>
        <div class="content">
            <h2>Wijk Bij Duurstede</h2>
            <p>Ik kom uit een klein dorpje genaamd Wijk bij Duurstede. Op dit moment heeft het dorp zo'n 23,925
                inwoners. In een kleinere stad/dorp wonen vind ik heerlijk.
                Omdat het er vaak lekker rustig is en alles lekker dichtbij is.</p>
        </div>
    </button>
    <button class="expandable">
        <span class="button-text">CDW</span>
        <div class="content">
            <h2>CDW</h2>
            <p>Ook voetbal ik bij CDW. Dat ik een kleine club uit mijn dorp. </p>
        </div>
    </button>
    <button class="expandable">
        <span class="button-text">Click me</span>
        <div class="content">
            <h2>Titel 3</h2>
            <p>Hier komt de overige informatie</p>
        </div>
    </button>
    <button class="expandable">
        <span class="button-text">Click me</span>
        <div class="content">
            <h2>Titel 4</h2>
            <p>Hier komt de overige informatie</p>
        </div>
    </button>
    <button class="expandable">
        <span class="button-text">Luc Hoogerwerf</span>
        <div class="content">
            <h2>Luc Hoogerwerf</h2>
            <p>Hi! Ik ben Luc Hoogerwerf. Mijn geboortedatum is 10-02-2005 en ik kom uit Wijk bij Duurstede.</p>
        </div>
    </button>

</body>

</html>

{% render 'partials/foot.liquid' %}
  