{% render 'partials/head.liquid' %}

<button class="expandable">
  <span class="button-text">Click me</span>
  <div class="content">
      <h2>Titel 1</h2>
      <p>Hier komt de overige informatie</p>
  </div>
</button>
<button class="expandable">
  <span class="button-text">Click me</span>
  <div class="content">
      <h2>Titel 2</h2>
      <p>Hier komt de overige informatie</p>
  </div>
</button>
<button class="expandable">
  <span class="button-text">Click me</span>
  <div class="content">
      <h2>Titel 3</h2>
      <p>Hier komt de overige informatie</p>
  </div>
</button>
<button class="expandable">
  <span class="button-text">Click me</span>
  <div class="content">
      <h2>Titel 4</h2>
      <p>Hier komt de overige informatie</p>
  </div>
</button>
<button class="expandable">
  <span class="button-text">Click me</span>
  <div class="content">
      <h2>Titel 5</h2>
      <p>Hier komt de overige informatie</p>
  </div>
</button>

</body>

</html>

{% render 'partials/foot.liquid' %}
  